{% extends 'base.html' %}

{% block content %}

<div class="">

    <h3 class="text-dark">Signup</h3>

    <form action="" method="post">
      {% csrf_token %}
      <br />
  
      <label for="email">Username</label>
      <div class="form-group">
        <input
          type="text"
          class="form-control p-2"
          id="email"
          name="username"
          required
        />
      </div>

      <label for="pass1">Password</label>
      <div class="form-group">
        <input
          type="password"
          class="form-control p-2"
          id="pass1"
          name="pass1"
          required
        />
      </div>

      <br />
      <button type="submit" class="btn btn-dark">Login</button>
  
      <br />
      New User? <a href="/authentication/register/">Register</a>
      <br />
    </form>
  

</div>




{% endblock content %}
